:root {
    --fc-color01: #424769;
    --fc-color02: #06646C;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--fc-color01);
    color: white;
    display: grid;
    font-size: 18px;
}

#calendar {
    margin: 5px 15px;
}

.fc .fc-toolbar.fc-header-toolbar { /*Estilização do header*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px black;
}

#fc-dom-1 {
    font-size: 4em;
    text-transform: capitalize;
    margin-left: 20px;
}

.fc-toolbar .fc-toolbar-chunk:last-child { /*Estilização do ano*/
    font-size: 4em;
    margin-right: 20px;
}

.fc-daygrid-day { /*Classe de cada quadrado*/
    font-size: 18px;
    cursor: pointer;
}

.hover-message {
    display: none;
    position: absolute;
    transform: translate(0, -100%);
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semitransparente */
    color: black;
    padding: 4px;
    border-radius: 4px;
    font-size: 0.8em;
    pointer-events: none; /* Evita que o <span> interfira com os eventos de mouse */
}

.fc-scrollgrid  .fc-scrollgrid-liquid {
    border: 2px solid white;
}

/*Estilização do bloco de notas*/

#container-notes {
    position: absolute;
    background-color: var(--fc-color02);
    display: none;
    flex-direction: column;
    height: 100vh;
    width: 320px;
    padding: 10px;
    justify-self: end;
    z-index: 1;
}

#header-notes {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

#header-notes > button {
    height: min-content;
    background-color: transparent;
    border: none;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 24px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

#header-notes > h3 {
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-size: 24px;
}

#container-notes > form {
    display: flex;
    flex: 1;
    flex-direction: column;
}

#bloco-de-notas {
    flex: 1;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 8px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.514);
    box-shadow: 4px 6px rgba(0, 0, 0, 0.2);
    resize: none;
}

#container-notes > form > button {
    margin-top: 20px;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.515);
    border-radius: 8px;
    background-color: #424769;
    color: white;
    box-shadow: 4px 6px rgba(0, 0, 0, 0.2);
}
