@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes transition-blackWhite {
    0% {
        background-color: white;
        color: black;
    }

    50% {
        background-color: gray;
        color: white;
    }

    100% {
        background-color: black;
        color: white;
    }
}

:root {
    --fc-color01: #424769;
    --fc-color02: #06646C;
    --fc-fonteRaleway: "Raleway";
    --fc-fonteInter: "Inter";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--fc-color01);
    color: white;
    display: grid;
}

#calendar {
    margin: 5px 15px;
}

.fc .fc-toolbar.fc-header-toolbar { /*Estilização do header*/
    font-family: var(--fc-fonte);
    text-shadow: 2px 2px black;
}

#fc-dom-1 { /*Estilização do mês e do ano*/
    font-size: 4em;
    text-transform: capitalize;
    letter-spacing: 0.15em;
    margin-left: 20px;
}

.fc-button-group {
    column-gap: 25px;
}

.fc-button-group .fc-button-primary { /*Botão do Header*/
    cursor: pointer;
    background-color: white;
    color: black;
    font-size: 1.3em;
    padding: 10px;
    transition: 0.5s all ease;
}

.fc-createevent-button .fc-button .fc-button-primary { /*Botão de criar evento*/
    content: "Criar";
}

.fc-button-group .fc-button-primary:hover {
    background-color: black;
    color: white;
}

.fc-view-harness { /*Corpo do calendário*/
    margin-left: 20px;
    width: 95vw;
}

.fc-daygrid-day { /*Classe de cada quadrado*/
    cursor: pointer;
}

.fc .fc-daygrid-day.fc-day-today { /*Classe para o dia atual*/
    background-color: var(--fc-color02);
}

.fc-day-disabled { /*Classe para os dias inativos*/
    opacity: 0;
}

.fc-col-header-cell {
    font-size: 1.2em;
}

.fc-daygrid-day-number { /*Número do calendário*/
    font-size: 1.5em;
    margin: 6px 6px 0px 0px;
}

/*Estilização da mensagem (Clique para abrir notas*/

.hover-message {
    display: none;
    position: absolute;
    transform: translate(0, -100%);
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semitransparente */
    color: black;
    padding: 4px;
    border-radius: 4px;
    font-size: 0.8em;
    pointer-events: none; /* Evita que o <span> interfira com os eventos de mouse */
}

.fc-scrollgrid .fc-scrollgrid-liquid {
    border: 1px solid white;
}

/*Estilização do container Criar Evento*/

#container-events {
    position: fixed;
    font-family: var(--fc-fonteInter);
    font-size: 1.3em;
    font-weight: 800;
    align-self: center;
    justify-self: center;
    display: none;
    place-items: center;
    width: 40vw;
    height: 70vh;
    z-index: 1001;
}

#container-events::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../imagens/wallpapers/WallpaperContainerEvents2.png);
    background-position: center;
    background-size: cover;
    filter: blur(2px) brightness(1.5);
    z-index: -1;
    opacity: 0.9;
    border-radius: 6%;
}

.overlay {
    display: none;  /* Inicialmente oculto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);  /* Cor escura, 50% opaca */
    z-index: 1000;  /* A sobreposição vai cobrir o conteúdo */
}

#container-events.ativo {
    display: grid;
}

.overlay.ativo {
    display: block;
}

#container-events > #header-events {
    display: flex;
}

#container-events > #header-events > h3 {
    flex: 1;
    font-size: 1.5em;
}

#container-events > #header-events > #FecharCriarEvento {
    background-color: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

#eventForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding: 50px;
    width: 100%;
    height: 100%;
    z-index: 1002;
}

#eventForm > input {
    margin-top: 3px;
    border-radius: 5px;
    padding: 8px;
}

#eventForm > #saveEvent {
    cursor: pointer;
    border-radius: 8px;
    padding: 12px;
}

#eventForm button