@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --accent-color: #8672FF;
    --base-color: white;
    --text-color: #2E2B41;
    --input-color: #F3F0FF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
}

#header {
    font-size: 2.5em;
    margin-bottom: 30px;
}

#areaCadastro {
    background-color: var(--input-color);
    width: clamp(200px, 50%, 600px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#areaCadastro > form {
    background-color: var(--base-color);
    width: clamp(150px, 60%, 450px);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    font-size: 14px;
}

form > p {
    margin-top: 5px;
    text-align: center;
    color: var(--text-color);
}

form > a {
    text-align: center;
    color: var(--accent-color);
    text-decoration: none;
}

form > label {
    margin-top: 1.3em;
    color: var(--text-color);
    display: flex;
    align-items: center;
}

form > label > i {
    margin-right: 10px;
    font-size: 1.2em;
    color: var(--accent-color);
}

form > label > input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--input-color);
    background-color: var(--input-color);
}

form > label > input:focus {
    border: 1px solid var(--accent-color);
    outline: none;
}

form > #botaoCadastro {
    margin-top: 2em;
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.6em;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

form > #botaoCadastro:hover {
    background-color: #6f5ed4;
}

#areaImagem {
    background-image: url(../../imagens/Paisagem02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex: 65%;
}

#message-box {
    font-size: 14px;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
}

.success-message {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}

.error-message {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}
