@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --accent-color: #8672FF;
    --accentdark-color: #4c408f;
    --base-color: white;
    --text-color: #2E2B41;
    --input-color: #F3F0FF;
}

* {
    font-family: "Inter";
}

body {
    margin: 40px, 10px;
    padding: 0;
    font-size: 14px;
}

#calendar {
    max-width: 1200px;
    margin: 0 auto;
}

#lightDark {
    position: fixed;
    bottom: 1%;
    right: 1%;
    z-index: 10;
}

#fc-dom-1 { /*Título do Header (MES de ANO)*/
    display: inline-block;
    font-size: 3em;
    font-weight: 600;
    text-transform: capitalize;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.btn.btn-primary { /*Customizei a cor do botão primary para roxo*/
    background-color: var(--accent-color);
    border: #F3F0FF;
}

.btn.btn-primary:hover{ /*Botão onde o mouse está encima*/
    background-color: var(--accentdark-color);
}

.btn.btn-primary.active { /*Botão active do grupo direito do header*/
    background-color: var(--accentdark-color);
}

.fc-prev-button.btn.btn-primary,
.fc-next-button.btn.btn-primary {
    font-size: 1em;
    margin-bottom: 20px;
    background-color: #8772ffbc;
}

.fc-prev-button.btn.btn-primary {
    margin-right: 0.5em;
}
.fc-next-button.btn.btn-primary {
    margin-left: 0.5em;
}